body {
    /* text-align: center; */
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: black;
    color: aliceblue;
    margin: 1em 0em;
    font-family: 'VT323', monospace;
    font-size: 2em;
    width: 100%;
    min-height: 100%;
}

header {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#start-div {
    display: flex;
    justify-content: center;
    align-content: center;
}

#main {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    /* display: inline-block;
    margin-left: 5em;
    margin-right: 5em; */
}

.options {
    margin: auto;
    text-align: center;
}

.accordion, .card {
    border: black;
    margin-right: auto;
}

#spacer {
    margin-left: auto;
    visibility: hidden;
}

.card-header, .card-body {
    background-color: black;
    border: black;
    font-size: .5em;
    text-align: left;
}

#text-speed-toggle {
    font-size: 1em;
    text-align: left;
    margin-left: 0;
}

#logo-div {
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 2em;
    color: red;
}

#hp-status {
    display: flex;
    flex-flow: column;
    margin: auto;
    font-size: 2em;
    justify-content: center;
    align-content: center;
    background-color: red;
    width: 100%;
    text-align: center;
    /* margin-bottom: 1.5em; */
}

#statuses {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

#user-status, #wild-status {
    margin: 0em, 4em;
    font-size: .5em;
}

#poke-choice-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; 
    width: 100%;
}

.choose-move {
    width: 100%;
}

button {
    font-family: 'VT323', monospace;
    font-size: 2em;
    background-color: black;
    color: aliceblue;
    border: none;
    outline: none;
    margin: auto;
}

button:hover, :active, :focus {
    color: red;
}

.speed-button {
    margin: 0 .5em;
    padding: 0;
}

#begin {
    margin-top: 3em;
}

input{
    font-family: 'VT323', monospace;
    font-size: 2em;
    text-align: center;
    margin: auto;
}