{% extends "layout.html" %}
{% block content %}
<button id='begin'>Start</button>

<div id='main'>
</div>
<div id='yes-no-song' style="display: none;">
    <form>
        <button type="button" id="yes-song" value="yes">Yes</button>
        <button type="button" id="no-song" value="no">No</button>
    </form>
</div>
<div id='poke-choice-buttons' style="display: none;">
</div>
<div id='name-input' style="display: none;">
    <form>
        <input id='name-input-text' type="text">
        <button type="button" id="name-input-button">Enter</button>
    </form>
</div>
<div id='sad-input' style="display: none;">
    <form>
        <input id='sad-input-text' type="text">
        <button type="button" id="sad-input-button">Enter</button>
    </form>
</div>

<div id='happy-input' style="display: none;">
    <form>
        <input id='happy-input-text' type="text">
        <button type="button" id="happy-input-button">Enter</button>
    </form>
</div>

{% endblock content %}